body {
	background-color:#283835;
	font-family:sans serif;
}

a {
	color:#7CBCC8;
	text-decoration:none;
	transition:1s;
	-webkit-transition:1s;
}

a:hover {
	color:#55818A;
}


#container
{
	margin: 0 30px;
	background: #ECF0F1;
}

#header
{
	background: #E7513B;
	padding: 20px;
}

#header h1 {
	font-size:3em;
	margin: 0;
	text-align:center;
	text-transform:uppercase;
	color: #D1F1D5;
	text-shadow:1px 1px 1px #B23F2E,
				2px 2px 1px #B23F2E,
				3px 3px 1px #B23F2E;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	background-color:#dddddd;
	-webkit-box-shadow: 1px 1px 1px #888888;
	box-shadow: 1px 1px 1px #888888;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#edito h2
{
	color: #E7513B;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	background-color:#dddddd;
	-webkit-box-shadow: 1px 1px 1px #888888;
	box-shadow: 1px 1px 1px #888888;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#footer
{
	clear: both;
	color:#dddddd;
	background: #283835;
	text-align: right;
	padding: 20px;
	height: 1%;
}
